.box {
  background-color: #663399;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  animation-name: rotate; 
  animation-duration: 3s;
  animation-iteration-count: 4;
  animation-delay: 2s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pagination {
  display: inline-block;
}
.pagination a {
  border: 1.5px solid #ffbcfc;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a {
  margin: 0 4px;
}

.pagination a.active {
  background-color: #663399;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #d8b4fc;
}