table{
    border-collapse: collapse;
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
}

table.b{
    table-layout: fixed;
    width: 280px;
}

table.c{
    table-layout: auto;
    width: 100%;
}